header
{
    background-color:dodgerblue;
    height:15%;
    text-align:center;
    border-bottom:1px solid black;
}


h1{
    margin:0;
    padding-top:7%;
    text-align:center;
    display:inline-block;
    color:white;
}

.nav-button
{
    position:absolute;
    color:black;
    padding:0;
    width:60px;
    height:30px;
    top:5%;
    right:5%;
    /* display:inline; */
    border: 1px solid black;
    border-radius:0.2em;
    font-size:1em;
    background-color:white;
}

.nav-button:hover{
    background-color:lightgrey;
}

/*=======================================================
// Desktop Style
//=======================================================*/

@media only screen and (min-width: 768px) {
    
    /* Fix our nav button for full-screen apps */
    .nav-button{
        position:relative;
        top:-35px;
        right:-250px;
    }

    /* Display block looks much better on desktop */
    h1{
        display: block;
    }

  }