
/*=======================================================
// Mobile Style
//=======================================================*/



/*main class container*/
.Container
{
    background-color:#eee;
    margin:0;
    height:100vh;
}


/*=======================================================
// Desktop Style
//=======================================================*/

@media only screen and (min-width: 768px) {
    .Container
    {
        margin:0 auto;
        margin-top:60px;
        width:650px;
        height:800px;
        border:1px solid black;
        border-radius:1em;
        overflow:hidden;
    }

  }